/* font-family: 'Gruppo',
cursive;
font-family: 'Mitr',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Red Hat Text',
sans-serif; */

:root {
        --contrast-color: rgb(18, 18, 18);
        --background-color: rgb(253, 253, 255);
        --background-color-grey: rgb(238, 238, 238);
        --blue: rgb(102, 153, 184);
        --pink: rgb(189, 61, 78);
        --orange: rgb(216, 115, 57);
        --green: rgb(111, 181, 118);
        --yellow: rgb(243, 203, 45);

}
.about-container{
        height: 100vh;
        width: 100%;
        font-family: 'Poppins', sans-serif;


}
@keyframes about-body{
        0% {
                opacity: 0%;
        }

        100% {
                opacity: 100%;
        }
}
.about-body{
        animation-name: about-body;
                animation-duration: 1s;
}
.about-body h1{

        color: var(--orange);
        font-weight: 600;
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        padding: 10px 10px 30px 10px;
        
}
.about-text-one{
        display: flex;
        flex-flow: row nowrap;
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        background-color:  var(--background-color-grey);
        border-radius: 10px;
        
}
.about-text-one p {
        color: var(--contrast-color);
        padding: 5px;
        margin-left: 5px;
        font-size: 17px;
        letter-spacing: 0.5px;
        line-height: 25px;
}
.image-one{
        width: 40%;
        padding: 20px;
}
.image-one img {
        width: 450px;
        height: 320px;
        border: 5px solid var(--orange);
        border-radius: 10px;
}