/* font-family: 'Gruppo',
cursive;
font-family: 'Mitr',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Red Hat Text',
sans-serif; */

:root {
        --contrast-color: rgb(18, 18, 18);
        --background-color: rgb(253, 253, 255);
        --blue: rgb(102, 153, 184);
        --pink: rgb(189, 61, 78);
        --orange: rgb(216, 115, 57);
        --green: rgb(111, 181, 118);
        --yellow: rgb(243, 203, 45);

}
.contact-container{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 0px;
        height: 110vh;
}
.contact-body{
        animation-name: contact-body;
        animation-duration: 1s;
        height: 100vh;
}
@keyframes contact-body {
        0% {
                opacity: 0%;
        }

        100% {
                opacity: 100%;
        }
}
.contact-body h1{
        color: var(--green);
                font-weight: 600;
                font-size: 60px;
                text-align: center;
                margin: 0 auto;
                padding: 10px;
        
        }

.contact-backing{
        width: 60%;
        background-color: rgba(111, 181, 118, 0.506);
        margin: 0 auto;
        border-radius: 5px;
        }

.contact-backing a {
        color: var(--blue);
        font-weight: 600;
        text-decoration: none;
}
