/* font-family: 'Gruppo',
cursive;
font-family: 'Mitr',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Red Hat Text',
sans-serif; */

:root {
        --contrast-color: rgb(18, 18, 18);
        --background-color: rgb(253, 253, 255);
        --blue: rgb(102, 153, 184);
        --pink: rgb(189, 61, 78);
        --orange: rgb(216, 115, 57);
        --green: rgb(111, 181, 118);
        --yellow: rgb(243, 203, 45);

}


.cv-container{
        background-color: var(--background-color);
        height: 100vh;
        font-family: 'Poppins', sans-serif;

}
@keyframes cv-body{
        0% {
                opacity: 0%;
        }

        100% {
                opacity: 100%;
        }
}
.cv-body{
        animation-name: cv-body;
                animation-duration: 1s;
}
.cv-body h1 {
        color: var(--pink);
        font-weight: 600;
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        padding: 10px;

}
.row-one-container, .row-two-container{
        width: 90%;
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        margin: 10px;
        margin: 0 auto;

}
.coding-experience-section{
        padding: 20px;
        margin: 10px;
        background-color: rgb(233, 233, 235);
        border-radius: 10px;
}

 .row-one, .row-two h4{
        padding: 10px;
        margin: 0 auto;
        font-weight: 600;
        color: var(--contrast-color);
        font-size: 17px;
 }
 .row-one p, .row-one ul {
        margin: 0 auto;
        padding: 0px;
        line-height: 30px;
        text-align: left;
        list-style: none;
        color: var(--contrast-color);
       
}
.coding-experience{
        width: 60%;
}

.row-one-container h3{
        color: rgba(189, 61, 78, 0.7);
        font-size: 22px;
}

.languages{
        width: 40%;
        text-align: center;
        
}
.languages-section {
        padding: 20px;
        margin: 10px;
        background-color: rgb(233, 233, 235);
        border-radius: 10px;
        display: flex;
        flex-direction: row wrap;
        justify-content: center;
        align-items: center;
}
.languages-section img{
        width: 80px;
        margin: 10px;
}
.certificates {
        width: 50%;
}

.certificates h3 {
        color: rgba(189, 61, 78, 0.7);
        font-size: 25px;
}
.certificates img{
        width: 250px;

}