/* font-family: 'Gruppo',
cursive;
font-family: 'Mitr',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Red Hat Text',
sans-serif; */

:root {
        --contrast-color: rgb(18, 18, 18);
        --background-color: rgb(253, 253, 255);
        --blue: rgb(102, 153, 184);
        --pink: rgb(189, 61, 78);
        --orange: rgb(216, 115, 57);
        --green: rgb(111, 181, 118);
        --yellow: rgb(243, 203, 45);

}


.cv-container{
        background-color: var(--background-color);
        height: 100vh;
        font-family: 'Poppins', sans-serif;

}
@keyframes cv-body{
        0% {
                opacity: 0%;
        }

        100% {
                opacity: 100%;
        }
}
.cv-body{
        animation-name: cv-body;
                animation-duration: 1s;
}
.cv-body h1 {
        color: var(--pink);
        font-weight: 600;
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        padding: 10px;

}
.coding-experience{
        width: 90%;
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        margin: 10px;
        margin: 0 auto;

}
.coding-text-cont{
        width: 50%;
        margin: 0 auto;

}
 .coding-text h4, .coding-text p, .coding-text ul {
        margin: 0 auto;
        padding: 0px;
        line-height: 30px;
        text-align: left;
       
}

.coding-text-cont h3{
        color: rgba(189, 61, 78, 0.7);
        font-size: 25px;
}
.certificates{
        width: 50%;
}
.certificates h3{
color: rgba(189, 61, 78, 0.7);
        font-size: 25px;
}
.cert-images{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

}
.cert-images img{
        width: 250px;

}