/* font-family: 'Gruppo',
cursive;
font-family: 'Mitr',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Red Hat Text',
sans-serif; */
:root {
        --background-color: rgb(18, 18, 18);
        --contrast-color: rgb(220, 220, 220);
        --blue: rgb(102, 153, 184);
        --pink: rgb(197, 87, 87);
        --orange: rgb(247, 137, 73);
        
}

.homepage-container{
        height: 110vh;
        width: 100%;
        position: relative;
        z-index: 1;
        top: 0px;
        font-family: 'Poppins', sans-serif;
        background-color: var(--background-color);
        padding: 0px;
        margin: 0 auto;

}


.first-line{
        height: 900px;
        width: 5px;
        position: absolute;
        z-index: 2;
        left: 350px;
        top: 0px;
        background-color: var(--contrast-color);
        animation-name: first-line;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
}

.second-line{
        height: 5px;
        width: 0px;
        left: 0px;
        top: 800px;
        position: absolute;
        z-index: 2;
        background-color: var(--contrast-color);
        animation-name: second-line;
        animation-duration: 3s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
}


@keyframes second-line {
        0%{
                opacity: 100%;
                background-color: var(--contrast-color);
        }
                25% {
                background-color: var(--orange);
                }
        
                50% {
                background-color: var(--blue)
                }
        
                75% {
                        background-color: var(--pink);
                }
        100%{
                opacity: 100%;
                width: 1700px;
                background-color: var(--contrast-color);
        }
}
.intro {
        width: 100%;

}

.intro h1 {
        font-weight: 100;
        font-size: 100px;
        padding: 0px;
        margin: 0 auto;
        text-align: center;
        padding-top: 350px;
        color: var(--contrast-color);
        
}



.intro h3 {
        font-weight: 300;
        font-size: 28px;
        text-align: center;
        margin: 0 auto;
        padding: 0px;
        color: var(--contrast-color);


}
.description-box {
        width: 70%;
        height: 500px;
        background-color:rgba(0, 0, 0, 0.912);
        margin: 0 auto;
        margin-top: 100px;
        border-radius: 20px;
        padding: 20px;
}
.description-box p {
        color: white;
        font-size: 20px;
        text-align: center;
        font-weight: 100;
}
.icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 40px;
}
.icons .fa-pencil, .icons .fa-circle-user,  .icons .fa-file,  .icons .fa-square-phone-flip{
        color: white;
        font-size: 35px;
}
.icons div{
        margin: 30px;
}

.links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top:-135px;
}
.links:hover {
        cursor: pointer;
}
.links h2{
        font-weight: 400;
}
.links div {
        margin: 30px;
}
.links .link {
        text-decoration: none;
        color: var(--contrast-color);
        align-self: center;
}
.project-link, .about-link, .contact-link, .cv-link{
       width: 70px;
       height: 100px;
        display: flex;
        flex-direction: row nowrap;
        justify-content: center;
        margin: 0 auto;
}




@media (max-width: 600px) {
        .homepage-container {
                        height: 110vh;
                        width: 100%;
                        position: relative;
                        z-index: 1;
                        top: 0px;
                }
        
        
                .first-line {
                        height: 800px;
                        width: 2px;
                        position: absolute;
                        z-index: 2;
                        left: 40px;
                        top: 0px;

                }
        
                .second-line {
                        height: 2px;
                        width: 0px;
                        left: 0px;
                        top: 600px;
 
                }
        
        
                @keyframes second-line {
                        0% {
                                opacity: 100%;
                                background-color: var(--contrast-color);
                        }
        
                        25% {
                                background-color: var(--orange);
                        }
        
                        50% {
                                background-color: var(--blue)
                        }
        
                        75% {
                                background-color: var(--pink);
                        }
        
                        100% {
                                opacity: 100%;
                                width: 370px;
                                background-color: var(--contrast-color);
                        }
                }
        
                .intro {
                        width: 100%;
        
                }
        
                .intro h1 {
                        font-weight: 100;
                        font-size: 40px;
                        padding: 0px;
                        margin: 0 auto;
                        text-align: center;
                        padding-top: 350px;
                        color: var(--contrast-color);
        
                }
        
        
        
                .intro h3 {
                        font-weight: 300;
                        font-size: 18px;
                        text-align: center;
                        margin: 0 auto;
                        padding: 0px;
                        color: var(--contrast-color);
        
        
                }

                .icons {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        margin-top: 40px;
                }
        
                .icons .fa-pencil,
                .icons .fa-circle-user,
                .icons .fa-file,
                .icons .fa-square-phone-flip {
                        color: white;
                        font-size: 20px;
                }
        
                .icons div {
                        margin: 5px;
                }
        
                .links {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        margin-top: -135px;
                }
        
                .links:hover {
                        cursor: pointer;
                }
        
                .links h2 {
                        font-weight: 400;
                }
        
                .links div {
                        margin: 30px;
                }
        
                .links .link {
                        text-decoration: none;
                        color: var(--contrast-color);
                        align-self: center;
                }
        
                .project-link,
                .about-link,
                .contact-link,
                .cv-link {
                        width: 70px;
                        height: 100px;
                        display: flex;
                        flex-direction: row nowrap;
                        justify-content: center;
                        margin: 0 auto;
                }
}