/* font-family: 'Gruppo',
cursive;
font-family: 'Mitr',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Red Hat Text',
sans-serif; */

.homepage-container{
        position: relative;
        z-index: 1;
        top: 0px;
        font-family: 'Red Hat Text',
                        sans-serif;
}
.columns {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
}
.column-one {
        width: 50%;
}
.intro {
        width: 100%;
        font-family: 'Red Hat Text',
                        sans-serif;
        text-align: center;
        padding: 50px 0px 50px 0px;
        margin: 0 auto;
}
.intro h1{
        font-family: 'Poppins',
                        sans-serif;
                        font-weight: 100;
        font-size: 90px;
        margin: 0 auto;
}
.intro h3 {
        font-size: 30px;
        margin: 0 auto;
        font-weight: 100;
        letter-spacing: 2px;
}
.column-two {
        width: 50%;

}
.squares {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

}
.square {
        height: 400px;
        width: 400px;
        border: 3px solid rgb(18, 18, 18);
        border-radius: 5px;
        margin: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.squares .link {
        text-decoration: none;
        color: black;
}
.square p {
        font-size: 25px;
}
.about-square{


}

.about-square:hover{

}

.projects-square{
        font-size: 50px;
}
.projects-square:hover{

}

.fa-pencil {
        color: rgb(255, 166, 0);
        font-size: 250px;
        opacity: 0.2;
}
.fa-circle-user{
        color: rgb(255, 166, 0);
                font-size: 250px;
                opacity: 0.2;
}
.fa-phone{
        color: rgb(255, 166, 0);
                font-size: 250px;
                opacity: 0.2;
}

.contact-square{
        font-size: 50px;
}