/* font-family: 'Gruppo',
cursive;
font-family: 'Mitr',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Red Hat Text',
sans-serif; */
:root {
        --background-color: rgb(253,253,255);
        --contrast-color: rgb(18, 18, 18);
        --grey: rgba(78, 78, 78, 0.855);
        --blue: rgb(102, 153, 184);
        --pink: rgb(197, 87, 118);
        --orange: rgb(216, 115, 57);
        --green: rgb(111, 181, 118);
        
}

.homepage-container{
        height: 200vh;
        width: 100%;
        position: relative;
        z-index: 1;
        top: 0px;
        font-family: 'Poppins', sans-serif;
        background-color: var(--background-color);
        padding: 0px;
        margin: 0 auto;

}


.first-line{
        height: 700px;
        width: 3px;
        position: absolute;
        z-index: 2;
        left: 250px;
        top: 0px;
        background-color: var(--contrast-color);
        animation-name: first-line;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
}

.second-line{
        height: 3px;
        width: 0px;
        left: 0px;
        top: 600px;
        position: absolute;
        z-index: 2;
        background-color: var(--contrast-color);
        animation-name: second-line;
        animation-duration: 3s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
}


@keyframes second-line {
        0%{
                opacity: 100%;
                background-color: var(--contrast-color);
        }
                25% {
                background-color: var(--orange);
                }
        
                50% {
                background-color: var(--blue)
                }
        
                75% {
                        background-color: var(--pink);
                }
        100%{
                opacity: 100%;
                width: 1300px;
                background-color: var(--contrast-color);
        }
}
.intro {
        width: 100%;

}

.intro h1 {
  
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 70px;
        padding: 0px;
        margin: 0 auto;
        text-align: center;
        padding-top: 240px;
        color: var(--contrast-color);
        
}



.intro h3 {
        font-weight: 100;
        font-size: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin: 0 auto;
        padding: 0px;
        color: var(--contrast-color);


}

.icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 40px;
        align-items: center;
}

.icons .fa-pencil, .icons .fa-circle-user,  .icons .fa-square-phone-flip{
        color: var(--contrast-color);
        font-size: 27px;
}
 .icons .fa-file{
        color: var(--contrast-color);
        font-size: 27px;
        width: 27px;
        height: 27px;
 }
.project-icon {
        margin: 0 auto;
}

.project-icon :hover{
        color: var(--background-color);
        background-color: var(--blue);
        border-radius: 50px;
        margin-top: -12px;
        padding: 12px;
        cursor: pointer;
        
}
.icons .fa-circle-user:hover{
        color: var(--background-color);
        margin: 0 auto;
                border-radius: 50px;
                background-color: var(--orange);
                margin-top: -12px;
                        padding: 12px;
                cursor: pointer;
}
.icons .fa-file:hover {
        color: var(--background-color);
        margin: 0 auto;
                border-radius: 50px;
                background-color: var(--pink);
                margin-top: -12px;
                        padding: 12px;
                cursor: pointer;
}
.icons .fa-square-phone-flip:hover{
        color: var(--background-color);
        margin: 0 auto;
                border-radius: 50px;
                background-color: var(--green);
                margin-top: -12px;
                        padding: 15px;
                cursor: pointer;
}


.links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
}
.links:hover {
        cursor: pointer;
}
.links h2{
        font-weight: 400;
        font-size: 18px;
}
.icons div{
        margin: 25px;
}
.links div {
        margin: 25px;
        margin-top: -100px;

}
.links .link {
        text-decoration: none;
        color: var(--contrast-color);
        align-self: center;
}
.project-link, .about-link, .contact-link, .cv-link{
       width: 70px;
       height: 100px;
        display: flex;
        flex-direction: row nowrap;
        justify-content: center;
        margin: 0 auto;
}

.contact-container {
        text-align: center;
        color: white;
        padding-top: 300px;
}



@media (max-width: 600px) {
        .homepage-container {
                        height: 110vh;
                        width: 100%;
                        position: relative;
                        z-index: 1;
                        top: 0px;
                }
        
        
                .first-line {
                        height: 800px;
                        width: 2px;
                        position: absolute;
                        z-index: 2;
                        left: 40px;
                        top: 0px;

                }
        
                .second-line {
                        height: 2px;
                        width: 0px;
                        left: 0px;
                        top: 600px;
 
                }
        
        
                @keyframes second-line {
                        0% {
                                opacity: 100%;
                                background-color: var(--contrast-color);
                        }
        
                        25% {
                                background-color: var(--orange);
                        }
        
                        50% {
                                background-color: var(--blue)
                        }
        
                        75% {
                                background-color: var(--pink);
                        }
        
                        100% {
                                opacity: 100%;
                                width: 370px;
                                background-color: var(--contrast-color);
                        }
                }
        
                .intro {
                        width: 100%;
        
                }
        
                .intro h1 {
                        font-weight: 100;
                        font-size: 40px;
                        padding: 0px;
                        margin: 0 auto;
                        text-align: center;
                        padding-top: 350px;
                        color: var(--contrast-color);
        
                }
        
        
        
                .intro h3 {
                        font-weight: 300;
                        font-size: 18px;
                        text-align: center;
                        margin: 0 auto;
                        padding: 0px;
                        color: var(--contrast-color);
        
        
                }

                .icons {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        margin-top: 40px;
                }
        
                .icons .fa-pencil,
                .icons .fa-circle-user,
                .icons .fa-file,
                .icons .fa-square-phone-flip {
                        color: white;
                        font-size: 24px;
                }
        
                .icons div {
                        margin: 10px;
                }
  
                .links {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        margin-top: -110px;
                }
        
        
                .links h2 {
                        font-weight: 400;
                        font-size: 15px;
                        text-align: center;
                }
        
                .links div {
                        margin: 10px;
                }
        
                .links .link {
                        text-decoration: none;
                        color: var(--contrast-color);
                        align-self: center;

                }
        
                .project-link,
                .about-link,
                .contact-link,
                .cv-link {
                        width: 50px;
                        height: 100px;
                        display: flex;
                        flex-direction: row nowrap;
                        justify-content: center;
                        margin: 0 auto;
                }
}

@media (min-width: 1600px){
        .first-line {
                        height: 900px;
                        width: 2px;
                        position: absolute;
                        z-index: 2;
                        left: 340px;
                        top: 0px;
        
                }
        
                .second-line {
                        height: 2px;
                        width: 0px;
                        left: 0px;
                        top: 700px;
        
                }

                       
                @keyframes second-line {
                        0% {
                                opacity: 100%;
                                background-color: var(--contrast-color);
                        }
        
                        25% {
                                background-color: var(--orange);
                        }
        
                        50% {
                                background-color: var(--blue)
                        }
        
                        75% {
                                background-color: var(--pink);
                        }
        
                        100% {
                                opacity: 100%;
                                width: 1700px;
                                background-color: var(--contrast-color);
                        }
                }
        
}
