/* font-family: 'Gruppo',
cursive;
font-family: 'Mitr',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Red Hat Text',
sans-serif; */

:root {
        --contrast-color: rgb(18, 18, 18);
        --background-color: rgb(253, 253, 255);
        --blue: rgb(102, 153, 184);
        --pink: rgb(197, 87, 118);
        --orange: rgb(216, 115, 57);
        --green: rgb(111, 181, 118);
        --yellow: rgb(255, 222, 55);

}
.nav-bar {
        width: 100%;
        height: 120px;
        margin: 0 auto;
        padding: 0px;
        background-color:transparent;
        display: flex;
        flex-direction: row nowrap;
        align-items: center;
        justify-content: flex-end;

}

.name-logo{
        font-size: 50px;
font-family: 'Montserrat',
                sans-serif;
        font-weight: 200;
        display: flex;
        flex-flow: row nowrap;
        margin-left: 50px;
        position: relative;
        color: var(--contrast-color);

}
.nav-bar a {
        text-decoration: none;
        color: var(--background-color);
}
.letter-r{
transform: scale(-1, 1);
margin-left: 0px;
}
.letter-b {
        margin-left: -14px;
}

.nav-list{
        width: 100%;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        margin: 0 auto;
font-family: 'Red Hat Text',
                sans-serif;
        font-weight: 400;
        margin-right: 60px;
}
.nav-list li {
        margin: 40px;
}
.nav-list a {
        text-decoration: none;
        color: rgb(177, 65, 65);
}
 .nav-list .fa-file,  .nav-list .fa-house,  .nav-list .fa-pencil,  .nav-list .fa-circle-user,  .nav-list .fa-square-phone-flip {
        font-size: 25px;
        margin-left: 15px;
        color: var(--contrast-color);
        text-align: center;
}
.nav-list .fa-house:hover{
        color: var(--background-color);
        margin: 0 auto;
         border-radius: 50px;
        background-color: var(--yellow);
        cursor: pointer;
}
.nav-list .fa-pencil:hover{
        color: var(--background-color);
                margin: 0 auto;
                border-radius: 50px;
                background-color: var(--blue);
                cursor: pointer;
}
.nav-list .fa-circle-user:hover{
color: var(--background-color);
        margin: 0 auto;
        border-radius: 50px;
        background-color: var(--orange);
        cursor: pointer;
}
.nav-list .fa-file:hover{
color: var(--background-color);
        margin: 0 auto;
        border-radius: 50px;
        background-color: var(--pink);
        cursor: pointer;
}
.nav-list .fa-square-phone-flip:hover{
color: var(--background-color);
        margin: 0 auto;
        border-radius: 50px;
        background-color: var(--green);
        cursor: pointer;
        padding: 10px;
        margin-right: -10px;
}
