/* font-family: 'Gruppo',
cursive;
font-family: 'Mitr',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Red Hat Text',
sans-serif; */

.opening {
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: var(--background-color);
        z-index: 2;
        display: flex;
        justify-content: center;
        animation-name: opening;
        animation-duration: 4s;
        animation-fill-mode: forwards;



}
@keyframes opening {
        0%{
                opacity: 100%;

        }
        50%{
                opacity: 100%;
                z-index: 2;
        }
        90%{
                opacity: 100%;
                z-index: 2;
                height: 100vh;
                width: 100%;
        }
        100%{
                opacity: 0%;
                z-index: -100;
                height: 0vh;
                width: 0%;
        }
}
.r {
font-family: 'Montserrat',
                sans-serif;
        font-weight: 100;
        font-size: 150px;
        animation-name: r;
        animation-duration: 4s;
        position: relative;
        text-align: center;
        left: 2%;
        color: var(--contrast-color);
}
.b {
font-family: 'Montserrat',
                sans-serif;
        font-weight: 100;
        font-size: 150px;
        animation-name: b;
        animation-duration: 4s;
        position: relative;
        text-align: center;
        right: 2%;
        color: var(--contrast-color);
        
}
.initial-backing {
        width: 350px;
        height: 350px;
        margin: 0 auto;
        border-radius: 100%;
        background-color: var(--background-color);
        border: 3px solid var(--contrast-color);
        position: relative;
        align-self: center;
        align-items: center;
        display: flex;
        flex-direction: column nowrap;
        justify-content: center;
        animation-name: circle-back;
        animation-duration: 4s;



}
@keyframes circle-back {
        0%{
                opacity: 0%;
        }
        10%{
                opacity: 100%;
        
        }
        50%{
                opacity: 100%;
        }
        100%{
                opacity: 0%;
        }
}

@keyframes r {
        0%{
                opacity: 0%;
                left: 0%;
        }
        30%{
        opacity: 100%;
                transform: scale(1, 1);
                left: 0%;
        }
        60%{
                transform: scale(-1, 1);
                        left: 6%;
                        opacity: 100%;
                        color: var(--contrast-color)
        }

        100%{
                left: 6%;
                transform: scale(-1, 1);
                color: var(--background-color);
                opacity: 0%;
        }
}
@keyframes  b {
        0% {
                opacity: 0%;
                right: 0%;
        }
        30%{
                opacity: 100%;
                right: 0%;
        }
               
                60%{
                        right: 6%;
                        opacity: 100%;
                        color: var(--contrast-color);
                }
        
                100% {
                        opacity: 0%;
                        color: var(--background-color);
                        right: 6%;
                }
}




/* MOBILE */

@media (max-width: 600px) {
        .opening{
                width: 100%;
                height: 100%;
        }

        
                .r {
                        font-weight: 200;
                        font-size: 120px;
                        left: 1%;
           
                }
        
                .b {

                        font-weight: 200;
                        font-size: 120px;
                        right: 1%;
                }
        
                .initial-backing {
                        width: 250px;
                        height: 250px;
                        border: 3px solid var(--contrast-color);     
                }
}